*,
*::before
*::after{
    box-sizing: border-box;
}

:root{
    --font_0: 'Source Sans Pro', sans-serif;
    --font_1: 'Source Code Pro', monospace;
    --dangerous_font: 'Comic Sans MS', 'Comic Sans', monospace;
    /*font-family: 'Montserrat', sans-serif;
    9font-family: 'Roboto', sans-serif;*/

    --font_weight: 300;
    --font_weight_bold: 1000;

    --bg_color_0: #000;
    --font_color_0: #000;
    --title_color_0: #000;
    --subtitle_color_0: #000;
    --header_color_0: #000;
    --hoover_color_0: #000;
    --disable_color_0: #000;

    --font_size_0: 3.5rem;
    --font_size_1: 2.2rem;
    --font_size_2: 1.25rem;
    --font_size_3: 1rem;
    --nick_font_size: .75rem;

    --shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
              0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/*text*/

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{ font-size: var(--font_size_0)}
h2{ font-size: var(--font_size_1)}
h3{ font-size: var(--font_size_2)}

/*text*/

/*body*/

body{
    margin: 0;
    color: var(--font_color_0);
    background-color: var(--bg_color_0);
    /*font-family: var(--dangerous_font);*/
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    transition: all 2s ease-out;
}

body::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

section{
    padding: 0;
    margin: 0;
    position: relative;
    z-index: -500;
}

img{
    display: block;
    max-width: 100%;
}

:focus{
    outline: 0px solid var(--hoover_color_0);
    outline-offset: 3px;
}

/*classes*/

.title{
    color: var(--title_color_0);
    margin: 0 auto;
    margin-bottom: .25em;
}

#main_title{
    font-weight: var(--font_weight_bold);
}

.subtitle{
    color: var(--subtitle_color);
    margin: 0 auto;
}

.title, .subtitle{
    padding-top: 1em;
}

/*header*/

header{
    position: fixed;
    z-index: 10;
    width: 100vw;
    background-color: var(--header_color_0);
    text-align: right;
    margin-right: 1em;
    opacity: 1;
    transition: background-color 2s ease-out;
}

.header_button{
    min-width: 3.5em;
    color: var(--font_color_0);
    font-size: var(--font_size_3);
    cursor: pointer;

    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .75em;

    
    background: transparent;
    border: 2px solid var(--font_color_0);
    border-radius: 15px;
    transition: all 2s ease-out;
}

.header_button:disabled,
.header_button:disabled:hover{
    color: var(--disable_color_0);
    border-color: var(--disable_color_0);
}

.header_button:hover{
    color: var(--hoover_color_0);
    border-color: var(--hoover_color_0);
}

.header_button:disabled{
    cursor: default;
}

/* w2g */

.input_screen{
    z-index: 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    
    background-position: center;
    background-image: url(../photos/los_santos.jpg);
    background-size: cover;
    
}

#server_div{
    display: inline-grid;
    justify-content: center;
    align-items: center;
    width: 50vw;
    min-height: 75vh;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: var(--font_color_0);
    text-decoration: none;
    border: 2px solid var(--font_color_0);
    background: var(--header_color_0);
    border-radius: 15px;
}

#input{
    position: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_button{
    margin-left: 1em;
}

#buttons{
    text-align: left;
    height: 10vh;
    width: 100%;

    padding-left: 1em;
    padding-right: 1em;
    margin-top: -4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#player{
    margin-bottom: 0;
    border-radius: 15px;
}

#player_and_buttons{
    float: none;
    width: min-content;
    background-color: rgba(0,0,0,.9);
}

#slider{
    -webkit-appearance: none;
    height: 10px;
    width: 40%;
    border-radius: 15px;
    background-color: var(--font_color_0);
    outline: none;
    border: none;
    margin-left: .5em;
    margin-right: 0;
}

#sound_slider{
    -webkit-appearance: none;
    height: 10px;
    width: 10%;
    border-radius: 15px;
    background-color: var(--font_color_0);
    outline: none;
    border: none;
    margin-right: 2.5em;
    margin-left: 0;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    outline: none;
    border: none;

    width: 20px;
    height: 20px;
    background-color: var(--title_color_0);
    cursor: pointer;
    border-radius: 15px;
    transition: all .5s ease-out;
}

#slider:active::-webkit-slider-thumb{
    background-color: var(--subtitle_color_0);
}

#play_button{
    margin-left: .25em;
    margin-right: 0;
}

#sound_button{
    margin-left: .25em;
    margin-right: 0;
}

/*nick entering*/

#nick_window{
    background-color: var(--header_color_0);
    border-radius: 15px;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

#temp_screen{
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    min-height: 100vh;
    min-width: 100vw;
    transition: all .5s ease-in-out;
}

#nick_button{
    margin-left: 2em;
}

#nick_input{
    margin-left: 1em;
    background-color: transparent;
}

#info_input{
    margin-left: 1em;
    background-color: transparent;
}


#users_box{
    background: rgba(0,0,0,.5);
    width: 80%;
    height: 90%;

    flex-direction: column;
    color: var(--header_color_0);
    overflow-y: scroll;
    text-align: left;
    scrollbar-color: var(--font_color_0) transparent;
    scrollbar-width: thin;
}

/*=========================================================*/

#message_box{
    color: var(--header_color_0);
    position: relative;
}
/*mozilla scrollbar*/
#message_window{
    border-radius: 15px;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 85%;
    overflow-y: scroll;
    scrollbar-color: var(--font_color_0) transparent;
    scrollbar-width: thin;
}

#message_input_and_button{
    height: 15%;
    width: 100%;
    bottom: 0;
    position: absolute;
    
    display: flex;
    justify-content: center;
    align-items: center;

    left: 50%;
    transform: translate(-50%);
}



#message_button{
    float: right;
    margin-left: 0;
    margin-right: 0;
}

#emoji_button{
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
}

.my_message{
    background-color: var(--font_color_0);
    border-radius: 15px;

    margin-top: .25em;
    margin-bottom: .25em;
    margin-right: .5em;
    padding: .5em;

    float: right;
    text-align: left;
}

.other_user_message{
    color: var(--font_color_0);
    background-color: var(--header_color_0);
    border-radius: 15px;

    margin-top: .25em;
    margin-bottom: .25em;
    margin-left: .5rem;
    padding: .5em;

    float: left;
    text-align: left;
}

.message_filler{
    width: 100%;
    height: 0;
    background-color: transparent;
    float: right;
}

.sender_nick{
    margin-bottom: .15em;
    margin-left: .5rem;

    color: var(--font_color_0);
    font-size: var(--nick_font_size);

    float: left;
    text-align: left;
}

/*tabs*/

#tabs_and_buttons{
    min-height: 75vh;
    width: 25vw;
    margin-left: 1rem;
    display: block;
    position: relative;
    background: rgba(0,0,0,.5);
}

#tabs_buttons{
    height: 5%;
    width: 90%;
    /*centering*/
    display: block;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.tablink{
    margin: .5rem;
}

.tabcontent{
    height: 100%;
    width: 100%;
    margin-top: .5em;
    margin-left: auto;
    margin-right: auto;
    display: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

.window{
    border: var(--font_color_0) 2px solid;
    border-radius: 15px;
    padding: 1em;
}

#test_div{
    display: block;
    height: 90%;
    width: 90%;

    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

#change_nickname_button{
    height: min-content;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--font_size_1);
    background-color: var(--bg_color_0);
}

#me_box{
    width: 80%;
    height: 80%;
    font-size: var(--font_size_1);
    display: none;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

/* width */
::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
width: 10px;
box-shadow: inset 0 0 1px rgb(0, 0, 0, .25);
border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: var(--font_color_0);
border-radius: 15px;
} 

#tabs_buttons button{
    transition: .5s;
}

#tabs_buttons button.active{
    background-color: var(--bg_color_0);
}

.user_info{
    background-color: var(--subtitle_color_0);
    height: min-content;
    padding: 1em;
    margin-bottom: .5em;

    margin-left: auto;
    margin-right: auto;

    width: 80%;
    text-align: center;
    border-radius: 15px;
    transition: all .5s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.user_info:hover{
    background-color: var(--disable_color_0);
    cursor: pointer;
}
*/

.user_icon{
    float: left;
    text-align: center;
    padding: 1em;
    width: 10%;

    color: var(--title_color_0);
    border: var(--title_color_0) 2px solid;
    border-radius: 50px;
}

.user_name{
    color: var(--title_color_0);
    font-weight: var(--font_weight_bold);
    font-size: var(--font_size_2);
    padding-left: 1em;
    text-align: left;
    float: left;
}

.poke_button{
    width: min-content;
    float: right;
    border-radius: 50px;
    margin: 0;

    font-size: var(--nick_font_size);
}

.poke_button:hover{
    background: var(--title_color_0);
    cursor: pointer;
}

.user_d{
    text-align: left;
    float: left;
    padding-left: 1em;
}

.user_name_info{
    display: flex;
    flex-direction: column;
    width: 75%;
    float: left;
}