*,
*::before
*::after{
    box-sizing: border-box;
}

:root{
    --font_0: 'Source Sans Pro', sans-serif;
    --font_1: 'Source Code Pro', monospace;
    --dangerous_font: 'Comic Sans MS', 'Comic Sans', monospace;
    /*font-family: 'Montserrat', sans-serif;
    9font-family: 'Roboto', sans-serif;*/

    --font_weight: 300;
    --font_weight_bold: 1000;

    --bg_color_0: #000;
    --font_color_0: #000;
    --title_color_0: #000;
    --subtitle_color_0: #000;
    --header_color_0: #000;
    --hoover_color_0: #000;
    --disable_color_0: #000;

    --font_size_0: 3.5rem;
    --font_size_1: 2.2rem;
    --font_size_2: 1.25rem;
    --font_size_3: 1rem;

    --shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
              0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/*text*/

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{ font-size: var(--font_size_0)}
h2{ font-size: var(--font_size_1)}
h3{ font-size: var(--font_size_2)}

/*text*/

/*body*/

body{
    margin: 0;
    color: var(--font_color_0);
    background-color: var(--bg_color_0);
    /*font-family: var(--dangerous_font);*/
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    transition: all 2s ease-out;
}

body::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

section{
    padding: 0;
    margin: 0;
    position: relative;
    z-index: -500;
}

img{
    display: block;
    max-width: 100%;
}

:focus{
    outline: 0px solid var(--hoover_color_0);
    outline-offset: 3px;
}

/*classes*/

.title{
    color: var(--title_color_0);
    margin: 0 auto;
    margin-bottom: .25em;
}

#main_title{
    font-weight: var(--font_weight_bold);
}

.subtitle{
    color: var(--subtitle_color);
    margin: 0 auto;
}

.title, .subtitle{
    padding-top: 1em;
}

/*header*/

header{
    position: fixed;
    z-index: 10;
    width: 100vw;
    background-color: var(--header_color_0);
    text-align: right;
    margin-right: 1em;
    opacity: 1;
    transition: background-color 2s ease-out;
}

.header_button{
    min-width: 3.5em;
    font-size: var(--font_size_3);
    cursor: pointer;
    margin-right: 2em;
    padding: .75em;
    color: var(--font_color_0);
    background: transparent;
    border: 2px solid var(--font_color_0);
    border-radius: 15px;
    transition: all 2s ease-out;
}

.header_button:disabled,
.header_button:disabled:hover{
    color: var(--disable_color_0);
    border-color: var(--disable_color_0);
}

.header_button:hover{
    color: var(--hoover_color_0);
    border-color: var(--hoover_color_0);
}

.header_button:disabled{
    cursor: default;
}

/* w2g */

.input_screen{
    z-index: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-image: url(../photos/los_santos.jpg);
    margin: 0 auto;
    background-size: cover;
}

.p_title{
    padding-bottom: .5em;
}

.box{
    margin-top: 3.5em;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    padding: 2em;
    border: 2px solid var(--font_color_0);
    border-radius: 15px;
}

#server_div{
    margin-left: 1em;
    margin-right: 1em;
}

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: var(--font_color_0);
    text-decoration: none;
    border: 2px solid var(--font_color_0);
    background: rgba(0,0,0,.5);
    border-radius: 15px;
}

#input{
    position: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 0em;
}

#search_button{
    margin-left: 1em;
}

#buttons{
    text-align: left;
    height: 10vh;
    width: 100%;

    padding-left: 1em;
    padding-right: 1em;
    margin-top: -4px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#player{
    margin-bottom: 0;
    border-radius: 15px;
}

#player_and_buttons{
    background-color: rgba(0,0,0,.9);
    border: 2px solid var(--font_color_0);
    border-radius: 15px;
}

#slider{
    -webkit-appearance: none;
    height: 10px;
    width: 40%;
    border-radius: 15px;
    background-color: var(--font_color_0);
    outline: none;
    border: none;
    margin-left: .5em;
    margin-right: 0;
}

#sound_slider{
    -webkit-appearance: none;
    height: 10px;
    width: 10%;
    border-radius: 15px;
    background-color: var(--font_color_0);
    outline: none;
    border: none;
    margin-right: 2.5em;
    margin-left: 0;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    outline: none;
    border: none;

    width: 20px;
    height: 20px;
    background-color: var(--title_color_0);
    cursor: pointer;
    border-radius: 15px;
    transition: all .5s ease-out;
}

#slider:active::-webkit-slider-thumb{
    background-color: var(--subtitle_color_0);
}

#play_button{
    margin-left: .25em;
    margin-right: 0;
}

#sound_button{
    margin-left: .25em;
    margin-right: 0;
}

/*nick entering*/

#nick_window{
    background-color: var(--header_color_0);
    border-radius: 15px;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

#temp_screen{
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.5);
    min-height: 100vh;
    min-width: 100vw;
}

#nick_button{
    margin-left: 2em;
}

#nick_input{
    margin-left: 1em;
    background-color: transparent;
}

#online_users{
    padding: .5em;
    color: var(--header_color_0);
    width: 10vw;
    height: 50vh;
    overflow-y: scroll;
    min-height: 25vh;
    text-align: left;
}

#messages{
    color: var(--header_color_0);
    padding: .5em;
    width: 25vw;
    height: 50vh;
    position: relative;
}

#message_window{
    width: 100%;
    border: 1px solid var(--font_color_0);
    border-radius: 15px;
    height: 40vh;
    overflow-y: scroll;
}

#message_input{
    width: 100%;
    bottom: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#send_text_message{
    float: left;
    margin-left: .5em;
}

#message{
    float: left;
}

.my_message{
    text-align: right;
}

.other_user_message{
    text-align: left;
}