*,
*::before
*::after{
    box-sizing: border-box;
}

:root{
    --font_0: 'Source Sans Pro', sans-serif;
    --font_1: 'Source Code Pro', monospace;
    --dangerous_font: 'Comic Sans MS', 'Comic Sans', monospace;

    --font_weight: 300;
    --font_weight_bold: 1000;

    --bg_color_0: #000;
    --font_color_0: #000;
    --title_color_0: #000;
    --subtitle_color_0: #000;
    --header_color_0: #000;
    --hoover_color_0: #000;
    --disable_color_0: #000;

    --font_size_0: 3.5rem;
    --font_size_1: 2.2rem;
    --font_size_2: 1.25rem;
    --font_size_3: 1rem;
    --nick_font_size: .75rem;

    --shadow: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
              0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/*text*/

h1,
h2,
h3{
    line-height: 1;
    margin: 0;
}

h1{ font-size: var(--font_size_0)}
h2{ font-size: var(--font_size_1)}
h3{ font-size: var(--font_size_2)}


/*body*/

body{
    margin: 0;
    color: var(--font_color_0);
    background-color: var(--bg_color_0);
    /*font-family: var(--dangerous_font);*/
    font-family: 'Courier New', monospace;
    line-height: 1.6;
    transition: all .3s  ease-out;
}

body::-webkit-scrollbar {
    display: none;
    overflow: hidden;
}

img{
    display: block;
    max-width: 100%;
}

:focus{
    outline: 0px solid var(--hoover_color_0);
    outline-offset: 3px;
}

/*header*/

header{
    position: fixed;
    z-index: 10;
    width: 100vw;
    background-color: var(--header_color_0);
    text-align: right;
    margin-right: 1em;
    opacity: 1;
    transition: all .3s ease-out;
}

.header_button{
    min-width: 3.5em;
    color: var(--font_color_0);
    font-size: var(--font_size_3);
    cursor: pointer;

    margin-right: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: .75em;

    background: transparent;
    border-radius: 10px;
    border: none;
    /*
    border: 2px solid var(--font_color_0);
    
    */
    transition: all .3s ease-out;
}

.header_button:disabled,
.header_button:disabled:hover{
    color: var(--disable_color_0);
    border-color: var(--disable_color_0);
    transform: scale(1);
    background-color: transparent;
}

.header_button:hover{
    background-color: rgb(0,0,0,.25);
    border-color: var(--hoover_color_0);
    transform: scale(1.2);
}

.header_button:disabled{
    cursor: default;
}

/* main screen */

.input_screen{
    z-index: 0;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    /*
    background-position: center;
    background-image: url(../photos/los_santos.jpg);
    background-size: cover;
    */
}

/* player div */

#server_div{
    background-color: var(--header_color_0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70rem;
    height: 45rem;
    border-radius: 10px;
}

/* seatch video div*/

input[type=text] {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    color: var(--font_color_0);
    text-decoration: none;
    border: 2px solid var(--font_color_0);
    background: var(--header_color_0);
    border-radius: 10px;
}

#server_input{
    width: 80%;
}

#search_button{
    margin-left: 1em;
    margin-right: 0;
}

.input_with_button{
    width: 100%;
    margin-bottom: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* player */

#player{
    margin-bottom: 0;
    border-radius: 10px;
}

#player_and_buttons{
    float: none;
    width: min-content;
    background-color: rgba(0,0,0,.9);
    border-radius: 10px;
}

#buttons{
    text-align: left;
    height: 10vh;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: -4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#video_time{
    text-align: center;
    width: 10%;
}

#video_duration{
    text-align: center;
    width: 10%;
}

#sound_slider{
    width: 10%;
}

#time_slider{
    width: 40%;
}

.slider{
    -webkit-appearance: none;
    height: 10px;
    border-radius: 10px;
    background-color: var(--font_color_0);
    outline: none;
    border: none;
    margin: 0;
    margin: 0 2em;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    outline: none;
    border: none;
    width: 20px;
    height: 20px;
    background-color: var(--title_color_0);
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s ease-out;
}

.slider:active::-webkit-slider-thumb{
    background-color: var(--subtitle_color_0);
}

#play_button{
    margin: 0;
}

#sound_button{
    margin: 0;
}

/* nick entering */

#temp_screen{
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,.4);
    min-height: 100vh;
    min-width: 100vw;
    transition: all .3s ease-in-out;
}

#nick_window{
    background-color: var(--header_color_0);
    border-radius: 10px;
    width: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em;
}

#inputs{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}

#nick_button{
    margin-left: 2em;
    width: 20%;
}

.first_input{
    margin-left: 1em;
    background-color: transparent;
    width: 100%;
}

/* tabs */

/* online users */



/*=========================================================*/


/*mozilla scrollbar*/
/* messenger */

#message_window{
    border-radius: 10px;
    background: rgba(0,0,0,.5);
    margin-top: 5%;
    width: 90%;
    height: 85%;
    overflow-y: scroll;
    scrollbar-color: var(--font_color_0) transparent;
    scrollbar-width: thin;
}

#message_input_and_button{
    height: 15%;
    width: 90%;
    /*position: relative;*/
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#message_button{
    float: right;
    margin-left: 0;
    margin-right: 0;
}

#emoji_button{
    margin-left: 0;
    margin-right: 0;
    border-bottom: none;
}

.my_message{
    background-color: var(--font_color_0);
    border-radius: 5px;

    margin-top: .25em;
    margin-bottom: .25em;
    margin-right: .5em;
    padding: .5em;

    float: right;
    text-align: left;
}

.other_user_message{
    color: var(--font_color_0);
    background-color: var(--header_color_0);
    border-radius: 10px;

    margin-top: .25em;
    margin-bottom: .25em;
    margin-left: .5rem;
    padding: .5em;

    float: left;
    text-align: left;
}

.message_filler{
    width: 100%;
    height: 0;
    background-color: transparent;
    float: right;
}

.sender_nick{
    margin-bottom: .15em;
    margin-left: .5rem;

    color: var(--font_color_0);
    font-size: var(--nick_font_size);

    float: left;
    text-align: left;
}

/*tabs*/

.window{
    border: var(--font_color_0) 2px solid;
    /*border-radius: 10px;*/
    /*padding: 1em;*/
}

#tabs_and_buttons{
    width: 30rem;
    height: 45rem;
    margin-left: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#tabs_buttons{
    height: 15%;
    width: 100%;
    /*centering*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.tablink{
    font-size: var(--font_size_2);
    width: 25%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition: all .3s ease-in-out;
}

.tabcontent{
    background-color: var(--header_color_0);
    height: 85%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeEffect .6s;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

#change_nickname_button{
    height: min-content;
    margin-left: auto;
    margin-right: auto;
    font-size: var(--font_size_1);
    background-color: var(--bg_color_0);
}

#nickname{
    font-weight: var(--font_weight_bold);
}

#me_box{
    font-size: var(--font_size_1);
}

#users_box{
    position: relative;
}

.list{
    background-color: rgba(0,0,0,.5);
    border: var(--disable_color_0) 3px solid;
    border-radius: 10px;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    text-align: left;
    scrollbar-color: var(--font_color_0) transparent;
    scrollbar-width: thin;
}

#message_box{
    color: var(--header_color_0);
    position: relative;
    justify-content: space-between;
}


#tabs_buttons button{
    transition: .3s;
}

#tabs_buttons button:hover{
    background-color: rgba(0,0,0,.5);
    transform: scale(1);
}

#tabs_buttons button.active{
    background-color: var(--header_color_0);
    color: var(--font_color_0);
    border-bottom: none;
}

/* videos */

.video_list_item{
    background-color: var(--header_color_0);
    /*height: min-content;*/
    padding: .25em;
    margin-top: 1em;

    margin-left: auto;
    margin-right: auto;

    height: 30%;
    width: 90%;
    border-radius: 10px;
    transition: all .3s ease-in-out;

    display: flex;
    justify-content: left;
    align-items: center;
}

.video_list_item:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,.4);
    /*transform: scale(1.025);*/
}

.video_icon{
    float: left;
    min-width: 45%;
    max-width: 45%;
}

.img_fill{
    float: left;
    object-fit: fill;
    border-radius: 10px;
}

.v_ifno{
    float: left;
    height: 100%;
    width: 55%;
    display: flex;
    flex-direction: column;
}

.v_title{
    margin-left: 1rem;
    display: block;
    font-weight: 800;
    font-size: var(--font_size_3);
    line-height: 85%;
}

.v_channel{
    margin-left: 1rem;
    display: block;
    margin-top: 1rem;
    font-size: var(--nick_font_size);
    color: var(--disable_color_0);
}

/* online users*/

.user_info{
    
    background-color: var(--header_color_0);
    /*height: min-content;*/
    padding: 1em;
    margin-top: 1em;

    margin-left: auto;
    margin-right: auto;

    width: 80%;
    text-align: center;
    border-radius: 10px;
    transition: all .3s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

/*
.user_info:hover{
    background-color: var(--disable_color_0);
    cursor: pointer;
}
*/

.user_icon{
    float: left;
    text-align: center;
    padding: 1em;
    width: 10%;

    background-color: var(--font_color_0);
    color: var(--bg_color_0);
    border-radius: 50px;
}

.user_name{
    font-weight: var(--font_weight_bold);
    font-size: var(--font_size_2);
    padding-left: 1rem;
    text-align: left;
    float: left;
}

.poke_button{
    width: min-content;
    float: right;
    border-radius: 50px;
    margin: 0;
    font-size: var(--font_size_2);
}

.user_d{
    text-align: left;
    float: left;
    padding-left: 1rem;
}

.user_name_info{
    display: flex;
    flex-direction: column;
    width: 75%;
    float: left;
}

/* emoji */

#emoji_picker{
    display: block;
    position: absolute;
    bottom: 15%;
    right: 0;
    height: 40%;
    width: 40%;
    background-color: var(--font_color_0);

    border-radius: 10px;
}


#triangle{
    display: block;
    position: absolute;
    background-color: transparent;

    width: 0;
    height: 0;

    right: 25%;
    bottom: 10%;

    border-left: 20px solid transparent; 
    border-right: 20px solid transparent;
    border-top: 20px solid red;
}


/* scroll */

/* width */
::-webkit-scrollbar {
    width: 10px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
    width: 10px;
    box-shadow: inset 0 0 1px rgb(0, 0, 0, .25);
    border-radius: 10px;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: var(--font_color_0);
    border-radius: 10px;
    } 